*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1B263B;
    font-family: 'Archivo Black', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-optical-sizing: auto;
}

nav {
    background: #0D1B2A;
    height: 80px;
    width: 100%;
}

label.logo {
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 25px;
}

nav ul li a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

nav.active{
    display: block;
}

a:hover {
    color: #748CAB;
}

a:hover,
a.active {
    color: #748CAB;
    border-bottom: 3px solid #748CAB;
}

span {
    color: #748CAB;
}

.projects-content {
    text-align: center;
    flex: 1 1 300px;
    margin-bottom: 0px;

}

.header1 {
    text-align: left;
    margin-left: 100px;
}

h1 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
    position: absolute;
    top: 120px;
}